.reservations-container {
  background: url("../assets/bg-0008.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  padding-top: 130px;
}

.reservations-container h1,
.confirmation-container h1 {
  font-size: 44px;
  font-family: 'Alex Brush';
  color: #a97959;
}

.reservations-container h2,
.confirmation-container h2 {
  font-size: 54px;
  letter-spacing: 1px;

}

.form {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin-top: 20px;
}

.form input,
select {
  color: #143642;
  border: none;
  background: transparent;
  font-family: 'Bebas Neue';
  font-size: 20px;
  letter-spacing: 1px;
  padding: 15px 10px;
  border-bottom: 1px solid rgb(192, 192, 192);
  cursor: pointer;

}

select {
  padding-left: 6px;
}

.form input::placeholder {
  color: #143642;
}

.form button {
  margin: auto;
  margin-top: 20px;
  padding: 20px 40px;
  font-size: 17px;
  font-family: 'Bebas Neue';
  letter-spacing: 1px;
  background-color: #a97959;
  border: none;
  color: white;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.form .error-input::placeholder {
  color: #FF7F7F;
}

.confirmation-container {
  background: url("../assets/bg-0008.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 0px 25px;
  padding-top: 200px;
}

.confirmation-container p {
  font-size: 18px;
  margin-top: 15px;
}

@media (min-width: 720px) {

  .reservations-container {
    padding: 70px 0px;
  }

  .form {
    width: 60%;
  }
}

@media (min-width: 1080px) {


  .form {
    width: 40%;
  }

  .reservations-container h1,
  .confirmation-container h1 {
    font-size: 3vw;
    font-family: 'Alex Brush';
    color: #a97959;
  }

  .reservations-container h2,
  .confirmation-container h2 {
    font-size: 5vw;
    letter-spacing: .8vw;

  }

  .form input,
  select {
    padding: 20px 15px;

  }
}



_::-webkit-full-page-media,
_:future,
:root .reservations-container {
  background-attachment: initial;
}